.container {
  display: flex;
  justify-content: center;
  color: white;
  align-items: baseline;
}
.box1 {
  display: flex;
  background-color: #1dcd6e;
  font-size: var(--size3);
  justify-content: center;
  align-items: center;
  height: var(--height3);
  width: var(--width3);
  align-items: center;
}
.box2 {
  display: flex;
  background-color: #2d97e1;
  justify-content: center;
  align-items: center;
  font-size: var(--size2);
  height: var(--height2);
  width: var(--width2);
}
.box3 {
  display: flex;
  background-color: #344a61;
  justify-content: center;
  align-items: center;
  font-size: var(--size1);
  height: var(--height1);
  width: var(--width1);
}
.box4 {
  display: flex;
  background-color: #9d55b9;
  justify-content: center;
  align-items: center;
  font-size: var(--size2);
  height: var(--height2);
  width: var(--width2);
}
.box5 {
  display: flex;
  background-color: #ea7d04;
  font-size: var(--size3);
  justify-content: center;
  align-items: center;
  height: var(--height3);
  width: var(--width3);
  align-items: center;
}

:root {
  --size1: 100px;
  --size2: 50px;
  --size3: 20px;
  --width1: 16.5rem;
  --height1: 10rem;
  --width2: 10rem;
  --height2: 6rem;
  --width3: 5rem;
  --height3: 4rem;
}
